<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Account Is Counter</title>
    <link type="text/css" href="{{url_for('static', filename='css/accounts_counter.css')}}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="worker"> {{client.name}} {{client.surname}} </h1>
    <div class="box">
        <div class="box_left">
            <form method="POST" action="">
                <div class="form_top">
                    <div class="form_top_left">
                        <h3 class="form_top_left_h3">Показание счетчика на начало периода:</h3>
                        <h3 class="form_top_left_h3">Показание счетчика на конец периода:</h3>
                        <h3 class="form_top_left_h3_rate">Тариф:</h3>
                    </div>
                    <div class="form_top_right">
                        <div class="form_top_right_field1">
                            <input type="number" name="field1" value=0>
                        </div>
                        <div class="form_top_right_field2">
                            <input type="number" name="field2" value=0 >
                        </div>
                        <div class="form_top_right_rate">
                            <span >{{client.rate}}</span>
                        </div>
                    </div>

                </div>
                <input class="button_register" type="submit" name="add" value="Рассчитать">
            </form>
            {% if val %}
            <div class="result">
                 <h3>Результат: {{val}} руб</h3>
                 <form method="POST" action="/done_add_db_counter">
                     <h3> Запись в бд ?</h3>
                     <input class="result_button_yes" type="submit" value="Yes">
                 </form>
                <a href="/accounts_counter"><input class="result_button_no" type="submit" value="No"></a>
            </div>
            {% endif %}

        </div>
    </div>
</div>

<br>
<div class="position">
    <div class="table-head">
        <table>
            <caption>История</caption>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Счетчик</th>
                <th>Результат</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="table-content">
        <table>
            <tbody>
            {%for el in accounts%}
            <tr>
                <td>{{ el.date }}</td>
                <td>{{ el.after }}</td>
                <td>{{ el.result }}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
 <div class="button-home">
    <ul>
        <li><a href="{{url_for('dashboard')}}"><ion-icon name="grid-outline"></ion-icon></a></li>
    </ul>
 </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
