<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
    <link type="text/css" href="{{url_for('static', filename='css/accounts_all.css')}}" rel="stylesheet"/>

</head>
<body>


 <div class="button-home">
    <ul>
        <li><a href="{{url_for('dashboard')}}"><ion-icon name="grid-outline"></ion-icon></a></li>
    </ul>
 </div>


<div class="container">
    <h1 class="worker"> Работа со счетами </h1>
    <div class="box">
        <div class="box_left">
            <form method="POST" action="/accounts_all">
                <label>Выберете клиента:</label>
                <select name="client">
                {% for el in all %}
                <option>{{el.name}} {{el.surname}}</option>
                {% endfor %}
                </select>
                <label>Выберете тип счета:</label>
                <select name="operation">
                  <option value="accounts1">Счет-Обычный</option>
                  <option value="accounts2">Счет-Счетчик</option>
                </select>
                <a><button class="button_register">Обновить</button></a>
            </form>
        </div>
    </div>
</div>

<div class="normal-position">
            <div class="normal-table-head">
                <table>
                    <caption>История счетов - "Обычный"</caption>
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Модель</th>
                        <th>Потребление</th>
                        <th>Начало размещения</th>
                        <th>Конец размещения</th>
                        <th>Простой в часах</th>
                        <th>Количество машин</th>
                        <th>Дни</th>
                        <th>Результат</th>
                        <th>Клиент</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="normal-table-content">
            <table>
                <tbody>
                {%for el in done_accounts_normal%}
                <tr>
                    <td>{{el.date}}</td>
                    <td>{{el.technical_info.model}}</td>
                    <td>{{el.consumption}}</td>
                    <td>{{el.start_of_placement}}</td>
                    <td>{{el.end_of_placement}}</td>
                    <td>{{el.simple_in_hours}}</td>
                    <td>{{el.number_of_cars}}</td>
                    <td>{{el.result_day}}</td>
                    <td>{{el.result}}</td>
                    <td>{{el.customer.surname}} {{el.customer.name}}</td>

                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

<div class="position">
            <div class="table-head">
                <table>
                    <caption>История счетов - "Счетчик"</caption>
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Показание счетчика</th>
                        <th>Результат</th>
                        <th>Клиент</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="table-content">
            <table>
                <tbody>
                {%for el in done_accounts_counter%}
                <tr>
                    <td>{{el.date}}</td>
                    <td>{{el.after}}</td>
                    <td>{{el.result}}</td>
                    <td>{{el.customer.surname}} {{el.customer.name}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>