<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link type="text/css" href="{{url_for('static', filename='css/client_edit.css')}}" rel="stylesheet"/>
</head>
<body>

<form method="POST" action="">
    <div class="section-information">
    <section>
        <h1>Информация</h1>
        <ul class="ul-all">
            <li>Тариф:</li>
            <li>Состояние:</li>
            <li>Статус:</li>
            <li>Способ оплаты:</li>
            <li>Тип оплаты:</li>
            <li>Количество машин:</li>
        </ul>
        <ul class="ul-one">
            <li>{{formclientupdate.rate}}</li>
            <li>{{formclientupdate.condition_id()}}</li>
            <li>{{formclientupdate.status_id()}}</li>
            <li>{{formclientupdate.payment_method_id()}}</li>
            <li>{{formclientupdate.payment_type_id()}}</li>
            <li>Error 404</li>
        </ul>
        <ul class="ul-accounts">
            <li>Банк:</li>
            <li>Долг:</li>
            <li>Последний счет месяца:</li>
        </ul>
        <ul class="ul-info">
            <li>Error 404</li>
            <li>{{formclientupdate.debt}}</li>
            <li>Error 404</li>
        </ul>
    </section>
</div>
    <div class="client">
        {{formclientupdate.hidden_tag()}}
        <br>{{formclientupdate.surname}}</br>
        <br>{{formclientupdate.name()}}</br>
        <br>Контактные данные:<br>
        <p>Error 404</p>
        <br>{{formclientupdate.submit()}}</br>
    </div>
</form>

</body>
</html>
