<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{customer.surname}}</title>
    <link type="text/css" href="{{url_for('static', filename='css/client_open.css')}}" rel="stylesheet"/>
</head>
<body>
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close"  title="Закрыть" class="close">X</a>
            <h2>Список машин</h2>
            <div class="container" >
                <table>
                    <thead>
                        <tr>
                            <th>Дата установки</th>
                            <th>Модель</th>
                            <th>Серийный номер</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in equ %}
                        <tr>
                            <td>{{ el.date }}</td>
                            <td>{{ el.model }}</td>
                            <td>{{ el.serial_number }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<div class="section-information">
    <section>
        <h1>Информация</h1>
        <ul class="ul-all">
            <li>Тариф:</li>
            <li>Состояние:</li>
            <li>Статус:</li>
            <li>Способ оплаты:</li>
            <li>Тип оплаты:</li>
            <li>Количество машин:</li>
        </ul>
        <ul class="ul-one">
            <li>{{customer.rate}}</li>
            <li>{{customer.condition.list_condition}}</li>
            <li>{{customer.status.list_status}}</li>
            <li>{{customer.payment_method.list_payment_method}}</li>
            <li>{{customer.payment_type.list_payment_type}}</li>
            <li>{{count}} <a href="#openModal"><button>Открыть</button></a> </li>
        </ul>
        <ul class="ul-accounts">
            <li>Банк:</li>
            <li>Долг:</li>
            <li>Последний счет месяца:</li>
        </ul>
        <ul class="ul-info">
            <li>Error 404</li>
            <li>{{customer.debt}}</li>
            <li>Error 404</li>
        </ul>
    </section>
</div>
<div class="client">
    <br>{{customer.surname}}</br>
    <br>{{customer.name}}</br>
    <br>Контактные данные</br>
    <p>Error 404</p>
</div>
<div class="delete_edit">
    <a href="/customer/{{customer.id}}/del"><button>Удалить клиента из базы данных</button></a>
    <a href="/customer/{{customer.id}}/update"><button>Изменить клиента в базе данных</button></a>
    <br><a href="/customer"><button>Вернуться к клиентам</button></a>
   <br>
</div>
<br>
{% if check == 1 %}
    <table>
        <caption>Счетчик</caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>After</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for el in accounts %}
            <tr>
                <td>{{ el.date }}</td>
                <td>{{ el.time }}</td>
                <td>{{ el.after }}</td>
                <td>{{ el.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% elif check == 2 %}
    <table>
        <caption>Обычный</caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Модель</th>
                <th>Потребление</th>
                <th>Начало размещения</th>
                <th>Конец размещения</th>
                <th>Простой в часах</th>
                <th>Кол-во</th>
                <th>Дни</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for el in accounts %}
            <tr>
                <td>{{ el.date }}</td>
                <td>{{ el.time }}</td>
                <td>{{ el.model }}</td>
                <td>{{ el.consumption }}</td>
                <td>{{ el.start_of_placement }}</td>
                <td>{{ el.end_of_placement }}</td>
                <td>{{ el.simple_in_hours }}</td>
                <td>{{ el.number_of_cars }}</td>
                <td>{{ el.result_day }}</td>
                <td>{{ el.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</body>
</html>