<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{customer.surname}}</title>
    <link type="text/css" href="{{url_for('static', filename='css/client_open.css')}}" rel="stylesheet"/>
</head>
<body>
<div class="section-information">
    <section>
        <h1>Информация</h1>
        <ul class="ul-all">
            <li>Тариф:</li>
            <li>Состояние:</li>
            <li>Статус:</li>
            <li>Способ оплаты:</li>
            <li>Тип оплаты:</li>
            <li>Количество машин:</li>
        </ul>
        <ul class="ul-one">
            <li>{{customer.rate}}</li>
            <li>{{customer.condition.list_condition}}</li>
            <li>{{customer.status.list_status}}</li>
            <li>{{customer.payment_method.list_payment_method}}</li>
            <li>{{customer.payment_type.list_payment_type}}</li>
            <li>404</li>
        </ul>
        <ul class="ul-accounts">
            <li>Банк:</li>
            <li>Долг:</li>
            <li>Последний счет месяца:</li>
        </ul>
        <ul class="ul-info">
            <li>404</li>
            <li>{{customer.debt}}</li>
            <li>404</li>
        </ul>
    </section>
</div>
<div class="client">
    <br>{{customer.surname}}</br>
    <br>{{customer.name}}</br>
    <br>Контактные данные</br>
</div>
<div class="delete_edit">
    <a href="/customer/{{customer.id}}/del"><button>Удалить клиента из базы данных</button></a>
    <a href=""><button>Изменить клиента в базе данных</button></a>
    <br><a href="/customer"><button>Вернуться к клиентам</button></a>
   <br>
</div>
</body>
</html>