<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{customer.surname}} {{customer.name}}</title>
    <link type="text/css" href="{{url_for('static', filename='css/client_open.css')}}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="worker">
        <h3> Информация про: {{customer.surname}} {{customer.name}} </h3>
    </div>
    <div class="box">
        <div class="box_left">
            <div class="form_top">
                <div class="form_top_left">
                    <ul>
                        <li>Тариф: {{customer.rate}}</li>
                        <li>Состояние: {{customer.condition.list_condition}}</li>
                        <li>Статус: {{customer.status.list_status}}</li>
                        <li>Способ оплаты: {{customer.payment_method.list_payment_method}}</li>
                        <li>Тип оплаты: {{customer.payment_type.list_payment_type}} </li>
                    </ul>
                </div>
                <div class="form_top_right">
                    <ul>
                        <li>Количество машин: {{count}} <a href="#openModal"><button>Подробнее</button></a> </li>
                        <li>Банк: Error 404</li>
                        <li>Долг: {{customer.debt}}</li>
                        <li>Последний счет месяца: Error 404 </li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="button-home">
            <ul>
                <li><a href="{{url_for('dashboard')}}"><ion-icon name="grid-outline"></ion-icon></a></li>
                <li><a href="/customer/{{customer.id}}/update"><ion-icon name="create-outline"></ion-icon></a></li>
                <li><a href="/customer/{{customer.id}}/del"><ion-icon name="trash-outline"></ion-icon></a></li>
                <li><a href="{{url_for('cust')}}"><ion-icon name="people-circle-outline"></ion-icon></a></li>
            </ul>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------------->
<br>
{% if check == 1 %}
    <div class="position">

         <div class="table-head">
            <table>
                <caption>История</caption>
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Счетчик</th>
                    <th>Результат</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-content">
            <table>
                <tbody>
                {%for el in accounts%}
                <tr>
                    <td>{{ el.date }}</td>
                    <td>{{ el.after }}</td>
                    <td>{{ el.result }}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{% elif check == 2 %}
    <div class="position_normal">
        <div class="table-head">
            <table>
                <caption>История</caption>
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Модель</th>
                    <th>Потребление</th>
                    <th>Начало размещения</th>
                    <th>Конец размещения</th>
                    <th>Простой в часах</th>
                    <th>Кол-во</th>
                    <th>Дни</th>
                    <th>Результат</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-content">
            <table>
                <tbody>
                {%for el in accounts%}
                <tr>
                    <td>{{ el.date }}</td>
                    <td>{{ el.technical_info.model }}</td>
                    <td>{{ el.consumption }}</td>
                    <td>{{ el.start_of_placement }}</td>
                    <td>{{ el.end_of_placement }}</td>
                    <td>{{ el.simple_in_hours }}</td>
                    <td>{{ el.number_of_cars }}</td>
                    <td>{{ el.result_day }}</td>
                    <td>{{ el.result }}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

<!------------------------------------------------------------------------------------------------------------------->

<div id="openModal" class="modalDialog">
    <div>
        <a href="#close"  title="Закрыть" class="close">X</a>
        <div class="container_modal_position_tabel">
            <div class="container_modal_tabel_head">
                <table>
                    <caption>Список машин</caption>
                    <thead>
                        <tr>
                            <th>Дата установки</th>
                            <th>Модель</th>
                            <th>Серийный номер</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="container_modal_tabel_content">
                <table>
                    <tbody>
                        <tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr><tr>
                            <td>2022.01.01</td>
                            <td>S10</td>
                            <td>BTM1FS634620120507230123533A00374</td>
                        </tr>
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
