<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
     <link type="text/css" href="{{url_for('static', filename='css/next.css')}}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <h1 class="worker"> Заполните информацию по оборудованию</h1>

    <div class="box">
        <div class="box_left">
            <form method="POST" action="">
                <div class="form_top">
                    <div class="content">
                        {{form.hidden_tag()}}
                        {%for data in form.send%}
                        <div class="add">
                            {{data.form.serial_number()}}
                            {{data.form.technical_id()}}
                            {{data.form.client_id()}}
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <a><button class="button_register">Добавить</button></a>
            </form>
        </div>
    </div>
</div>
</body>
</html>