*{
    margin: 0;
    padding: 0;
}
body
{
    background: #2f363e;
}
.heading h1
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    padding: 20px;
}

.position{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}


.table-head table {
    color: white;
    table-layout: fixed;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    border: 2px solid #596a91;
}

.table-head th
{
    width: 90%;
    padding: 2px;

}

.border-th {
    border-left: 2px solid #e86d99;
    border-right: 2px solid #e86d99;

}


.table-content{
    height: 600px;
   border-bottom: 2px solid #43bd9e;
    overflow-x: auto;
}

.table-content table {
    color: white;
    table-layout: fixed;
    width: 99%;
    text-align: center;
    border: 1px solid #43bd9e;
    margin-left: 10px;
    overflow: auto;
}

.table-content td{
    width: 90%;
    padding: 4px;
    border-bottom: 2px solid #679cd6;
    height: 30px;
    overflow-y: auto;
    white-space: nowrap;


}

.search_page{
    position: relative;
    margin-left: 45%;
    margin-top: 10px;
}

.search_page a {
    color: #6c9fd7;
    text-decoration: none;
    font-size: 24px;
}

.search_page a:hover{
    color: #1889ff;
}

.search h3 {
    color: rgba(69, 243, 255, 0.84);
    margin-left: 2px;
}

.search label {
    color: rgba(69, 243, 255, 0.84);
}
.search_button {
    cursor: pointer;
    border-radius: 60px;
    color: white;
    font-size: 10px;
    padding: 6px 14px;
    background-color: #1889ff;
    border-width: 0;
}

.search_button_position {
    margin-top: -22px;
    margin-left: 150px;
}


.search_right{
    margin-top: 5px;
    padding-right: 5px;
}


.search_right h3, label {
    color: rgba(69, 243, 255, 0.84);
    margin-left: 2px;
}

.search_right_button{
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 1px 6px;
    background-color: #1889ff;
    border-width: 0;
}

.button-home{
    position: absolute;
    margin-top: -60px;
    margin-left: 90%;
}

.button-home ul {
    margin:0;
    padding:0;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-home ul li {
    list-style:none;
    margin: 0 15px;
}

.button-home ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 48px;
    background: #3e4455;
    border-radius: 50%;
    font-size: 24px;
    color: #00b0fe;
    transition: .5s;
}

.button-home ul li a:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.button-home ul li a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

.button-home ul li a:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

.ion-icon{
    text-align: center;

}