body {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;
    -webkit-font-smoothing: antialiased;

    background-color: #2f363e;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container
{
    margin: 10px 230px;
}

.worker
{
    margin-bottom: 5px;
    text-align: center;
    color: #37bb9a;
    font-size: 22px;
}

.box
{
    display: flex;
    background: #fff;
    max-width: 80%;
    box-shadow: #2c3140 21px 21px 33px;
    position: relative;
    left: 100px;;
}

.box_left
{
    justify-content: center;
    padding: 50px 15px;
    width: 100%;

    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: #57598a ;

}

form {
    text-align: center;
}

.form_top
{
    position: relative;
    left: -40px;
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 5px;
    column-gap: 5px;
    width: 100%;
    justify-content: center;


}


.form_top_left{
    text-align: left;
    position: relative;
    margin-top: -60px ;
}
.form_top_right{
    position: relative;
    text-align: right;
    margin-left: 90px;
    margin-top: -60px ;

}

.form_top_left_h3{
    margin-bottom: 1px;

}

.form_top_right_rate{
    margin-left: -90px ;
}

.h3{
    width: 200px;
}

.form_top_left ul {
    list-style-type: none;

}

.form_top_left li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form_top_right ul {
    list-style-type: none;

}

.form_top_right li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.button_register
{
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 60px;
    color: white;
    font-size: 12px;
    padding: 11px 30px;
    background-color: #57598a;
    border-width: 0;
}

.button_register:hover
{
    background-color: #ba8c63;
    transition: background-color linear 0.2s;
}

.button-home{
    position: relative;
    top: 60px;
    right: 180px;
}

.button-home ul {
    margin:0;
    padding:0;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-home ul li {
    list-style:none;
    margin: 0 15px;
}

.button-home ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    background: #3e4455;
    border-radius: 50%;
    font-size: 20px;
    color: #00b0fe;
    transition: .5s;
}

.button-home ul li a:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.button-home ul li a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

.button-home ul li a:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

.ion-icon{
    text-align: center;

}


.position{
    width: 40%;
    margin-left: 420px;
    margin-right: 420px;

}

.position_normal{
    width: 75%;
    margin-left: 172px;
    margin-right: 172px;

}

.table-head caption{
    color: white;
    font-size: 24px;
}

.table-head table{

    position: relative;
    text-align: center;
    color: white;
    margin: 4px;
    padding: 5px;
    width: 100%;
    table-layout: fixed;
}

.table-head th{
    color: white;
    border: 1px solid salmon;
    padding: 2px;

}

.table-content{
    width: 100%;
    border: 1px solid #37bb9a;
    position: relative;
    text-align: center;
    color: aqua;
    height: 300px;
    margin: 5px;
    padding: 5px;
    overflow-x: auto;
}

.table-content td {
    width: 200px;
    text-align: center;
    padding: 4px;
    border-bottom: 2px solid #679cd6;
    height: 10px;
}


.container_modal_position_tabel{
    width: 100%;
    margin-left: -4px;


}

.container_modal_tabel_head caption{
    color: white;
    font-size: 24px;
}

.container_modal_tabel_head table{

    position: relative;
    text-align: center;
    color: white;
    margin: 4px;
    padding: 5px;
    width: 100%;
    table-layout: fixed;
}

.container_modal_tabel_head th{
    color: white;
    border: 1px solid salmon;
    padding: 2px;

}

.container_modal_tabel_content{
    width: 100%;
    border: 1px solid #37bb9a;
    position: relative;
    text-align: center;
    color: aqua;
    height: 300px;
    margin: 5px;
    padding: 5px;
    overflow-x: auto;
}

.container_modal_tabel_content td {
    width: 200px;
    text-align: center;
    padding: 4px;
    border-bottom: 2px solid #679cd6;
    height: 10px;
}










.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(131, 128, 128, 0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}
.modalDialog > div {
	width: 40%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #2f363e;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #ff0050; }

.error {
    color:red;
}




