*{
    margin: 0;
    padding: 0;
}
body
{
    background: #2f363e;
}
.heading h1
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    padding: 20px;
}

.position{
    margin-left: 10px;
    margin-right: 10px;
}


.table-head table {
    color: white;
    table-layout: fixed;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    border: 2px solid #596a91;
}



.table-head th
{
    width: 90%;
    padding: 2px;

}



.border-th {
    border-left: 2px solid #e86d99;
    border-right: 2px solid #e86d99;

}


.table-content{
    height: 600px;
   border-bottom: 2px solid #43bd9e;
    overflow-x: auto;
}

.table-content table {
    color: white;

    table-layout: fixed;
    width: 99%;
    text-align: center;
    border: 1px solid #43bd9e;
    margin-left: 10px;
    overflow: auto;
}

.table-content td{
    width: 90%;
    padding: 4px;
    border-bottom: 2px solid #679cd6;
    height: 30px;


}

.button-add{
    text-align: center;
    padding: 2px;

}

.add {
    color: #00b0fe;
    text-decoration: none;
}

.menu{
    text-align: center;
    position: center;
    margin: 20px
}

ul {
    margin:0;
    padding:0;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style:none;
    margin: 0 15px;
}

ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    background: #3e4455;
    border-radius: 50%;
    font-size: 30px;
    color: #00b0fe;
    transition: .5s;
}

ul li a:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

ul li a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

ul li a:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

.ion-icon{
    text-align: center;

}

.button-home{
    position: relative;
    top: 50px;
    right: 515px;
}