*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
.menu
{
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li
{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(0deg) translateX(110px);
}
.menu.active li
{
    transform: rotate(calc(360deg / 8 * var(--i)))
    translateX(0px);
}
.menu li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
}
.menu li a:hover
{
    transition: 0s;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
    0 0 20px var(--clr),
    0 0 0px var(--clr);
}
.menu .toggle
{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 2em;
    transition: transform 1.25s;
}

.menu.active .toggle
{
    transform: rotate(315deg);
}


.container{
    position: relative;
    margin-left: -150px;

}

.container_menu{
    position: relative;
    margin-right: 90px;
    margin-left: 90px;
}

.coin {
    display: flex;
    width: 350px;
    height: 100px;
    border-radius: 8px;
    margin: 10px 0;
    font-family: 'Mukta', sans-serif;
}

.coin .coin-logo {
    width: 100px;
    height: 100%;
    display: grid;
    place-items: center;
}

.coin .coin-logo img {
    width: 50%;
    height: 50%;
}

.coin .coin-name {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.coin .coin-name h3 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.coin .coin-name span {
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
}

.coin .coin-price {
    display: grid;
    align-items: center;
    margin-left: auto;
    padding: 8px 22px 0 0;
    text-align: right;
}

.coin .coin-price .price {
    font-size: 26px;
    font-weight: 700;
    margin-top: -6px;
}

.coin .coin-price .change {
    color: #aaa;
    font-size: 15px;
    font-weight: 600;
    margin-top: -30px;
}

.coin.rising {
    background: linear-gradient(
            90deg, #2f363e, #4eb64510
    );
}

.coin.rising .coin-price .price {
    color: #30ff20;
}

.coin.falling {
    background: linear-gradient(
            90deg, #2f363e, #aa444425
    );
}

.coin.falling .coin-price .price {
    color: #ff4040;
}

.door{
    position: relative;
    margin-left: 30px;
}

.door a {
    color: #00b0fe;
    text-decoration: none;
    font-size: 24px;
}

.door a:hover{
    color: #EC238D;
}